<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAaAP8AAAAAAP///wAAAP8AaGhpAAIC5gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAERERERERERERERVVVVERERERUwVQNRERERUTNVAxURERFTM1UzNREREVMzVTM1ERERUDFVEzURERFQM1UzNREREVMzVTM1ERERUTNVMxURERFTMxEzNRERERUCESBRERERERERERERERERIRESEREREREUEUERERERERERERERH//wAA+B8AAPAPAADgBwAA4AcAAOAHAADgBwAA4AcAAOAHAADgBwAA4AcAAPAPAAD4HwAA+B8AAPw/AAD//wAA" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Bugtracker</title>
</head>
<body>
<div id="react" class="d-flex flex-column sticky-footer-wrapper"></div>
<script src="/built/vendors.bootstrap.bundle.js"></script>
<script src="/built/vendors.react.bundle.js"></script>
<script src="/built/vendors.react-dom.bundle.js"></script>
<script src="/built/main.bundle.js"></script>
<script src="/built/bundle.js"></script></body>
</body>
</html>